@import "settings";

.genres {
  z-index: 2;
}

.slider {
  z-index: 1;
}

.release-form {
  background-color: $white;
  border-radius: 10px;
  color: $black;
  padding: 2em;
  label {
    color: $black;
  }
}

.release-header {
  color: $white;
  font-weight: bold;
  padding: 2em;
  text-align: center;
}

#error_explanation {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-align: center;
}
