@import "settings";

.review {
  border-color: $white;
  border-radius: 10px;
  border-style: solid;
  margin: 1em;
  padding: 1em;
}

.votes  {
  display: inline-block;
  margin: 1rem;
}

.review-text {
    display: inline-block;
    margin: 1rem;
}

.num-votes {
  border-style: solid;
  border-color: $white;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.downvote, .upvote {
  text-align: center;
}
